<%= flash[:notice] %>
<div class="container">
  <div class="jumbotron">
    <h1>Morning Widget</h1>

    <div class="centered">
      <%= link_to('Sign in with Twitter', '/auth/twitter', class: 'btn btn-primary') %>
      <button type ="button" class="btn btn-primary" data-toggle="modal" data-target="#authenticate">Log In</button>
    </div>

    <div class="modal fade" id="authenticate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <%= link_to 'Signup', signup_path %> or Log in:

            <%= render 'signup' %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>