<div class="dashboard-background-image"></div>

<div class="container front-page">
  <div class="row">
    <div class="jumbotron">
      <h1>Morning Dashboard</h1>
      <div class="centered login-buttons">
        <%= link_to_twitter_sign_in %>
        <button type ="button" class="btn btn-primary" data-toggle="modal" data-target="#authenticate">Log In</button>
      </div>
    </div> <!-- jumbotron -->
  </div> <!-- row -->

  <div class="modal fade" id="authenticate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal-close"><span aria-hidden="true">&times;</span></button>
          </div>

          <% if @identity.errors.any? %>
          <div class="alert alert-dismissible alert-danger">
            <div id="error_explanation">
              <%= @identity.errors.full_messages.inject {|text, e| e + ", " + text}%>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="new_account col-md-offset-1 col-md-4">
              <%= render 'identities/new'  %>
            </div>
            <div class="col-md-1">
              <div class="divider">
              </div>
            </div>
            <div class="signin col-md-offset-1 col-md-4">
              <%= render 'sessions/signin' %>
            </div>
          </div> <!-- row -->
        </div> <!-- modal-body -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- modal -->

</div> <!-- container -->


