
a.btn.btn-primary:hover{
  text-decoration: none;
  background-color: #333333;
}

.jumbotron h1{
  text-align: center;
}

.jumbotron {
  margin: 20%;
}

.centered{
  text-align: center;
}

.signin{
  padding-left: 10%;
}

.new_account{
  padding-left: 15%;
}

.actions{
  padding: 10px 0 15px 0;
}

