  <%- if weather.weather_json -%>
    <%= weather.current_weather %><br>
    <%= weather.forecast_weather %><br>
  <%- else -%>
    <p>Weather Forecast not available for this zipcode.</p>
  <%- end -%>