<h1>Current Weather</h1>
<ul>
  <li>Current temp: </li>
  <li>Current condition:</li>
</ul>

<h2>Forecast for Next 10 Hours</h2>
<ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
  <li>Time: </li>
  <ul>
    <li>Temp: </li>
    <li>Condition: </li>
  </ul>
</ul>